body{
  font-family:sans-serif;
  background:#f3f6f4;
  margin:0;
}

header{
  background:linear-gradient(135deg,#0a5a2d,#063a1d);
  color:white;
  text-align:center;
  padding:30px;
}

.search{
  display:flex;
  justify-content:center;
  gap:10px;
  margin:20px;
}

input{
  padding:10px;
  width:250px;
}

button{
  background:#d62828;
  color:white;
  border:none;
  padding:10px 15px;
  cursor:pointer;
}

.card{
  background:white;
  margin:20px auto;
  max-width:600px;
  padding:20px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,.1);
}
